.myLoader p {
  color: white;
}
.myLoader {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

html {
  letter-spacing: 2px;
  background-color: black;
}

.top_navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
}

.dashboard_logo {
  display: flex;
}

.navbar_items {
  width: 70%;
}

.navbar_items ul {
  display: flex;
  list-style: none;
}

.navbar_items li {
  margin-left: 2rem;
}

.navbar_items a {
  text-decoration: none;
  color: white;
}

.dashboard_hero {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  position: relative;
}

.section1 {
  color: white;
  padding: 0px 30px;
  border-bottom: 5px solid grey;
}

.section1 img {
  width: 70%;
}

/* .cards_images {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  justify-content: center;
}  */

.react-multi-carousel-list {
  text-align: center;
}

.fadded_bottom {
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.9), black);
  height: 3rem;
  position: relative;
  bottom: 35px;
}

.hero_buttons button {
  background-color: rgba(184, 184, 148, 0.3);
  color: white;
  padding: 10px 20px;
  border: 0px;
  margin-left: 1rem;
  cursor: pointer;
}

.hero_buttons {
  position: absolute;
  top: 60%;
  margin-left: 4rem;
}

.search_box {
  display: flex;
}

.search_box input {
  background: rgba(184, 184, 148, 0.3);
  color: white;
  border: 1px solid black;
  padding: 10px 20px;
}

.search_box button {
  color: white;
  background: none;
  border: none;
  padding: 0px 20px;
  cursor: pointer;
  font-size: 1.5rem;
}

.backdrop {
  position: fixed;
  height: 100%;
  width: 100%;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
  transition: all ease-in-out 0.2s;
  visibility: hidden;
}

.backdrop.active {
  opacity: 1;
}

.mobile_nav {
  position: fixed;
  z-index: 100;
  background-color: black;
  height: 100%;
  width: 240px;
  left: -100%;
  box-shadow: 1px 10px 20px black;
  transition: all ease-in-out 0.4s;
}

.mobile_nav.active {
  left: 0;
}
.mobile_nav ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  margin-top: 10rem;
}

.mobile_nav a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
}

.right_sidenav_mobile {
  color: white;
  position: relative;
  display: none;
}
.right_sidenav_mobile ul {
  list-style: none;
  display: flex;
}

.right_sidenav_mobile li {
  margin-left: 1rem;
}

.profile_dropdown {
  position: absolute;
  background-color: white;
  color: black;
  width: 100%;
  transition: all ease-in-out 0.1s;
  opacity: 0;
}

.profile_dropdown.active {
  opacity: 1;
}

.profile_dropdown ul {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.profile_dropdown li {
  margin-left: 0px;
}
.profile {
  cursor: pointer;
}

.close_menu {
  color: white;
  position: absolute;
  left: 90%;
}

.mobile_menu_icon {
  color: white;
  display: none;
}

@media (max-width: 750px) {
  .navbar_items {
    display: none;
  }
  .hero_buttons {
    width: 100%;
    margin-left: 0px;
    text-align: center;
  }

  .mobile_menu_icon {
    display: block;
  }
}

@media (max-width: 430px) {
  .right_sidenav {
    display: none;
  }

  .right_sidenav_mobile {
    display: block;
  }
}

@media (max-width: 380px) {
  .hero_buttons button {
    margin-left: 0.1rem;
  }
}
