.top_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top_header ul li {
  list-style: none;
  background-color: red;
  margin: 0 2rem;
  padding: 0px 20px;
  border-radius: 5px;
}

.top_header ul li a {
  color: black;
  text-decoration: none;
  color: white;
  font-size: 1rem;
}

.top_header .logo {
  margin: 0 2rem;
  display: flex;
}

.logo a{
    display: flex;
}
